.page-2-dt {
    border-radius: 15px;
    border: solid 2px #0d6abf;
    background-color: #f0f1f3;
}

.page-2-dt .section-name {
    display: flex;
    background-color: #0874b0;
    color: white;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.page-2-dt .year-filter-and-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.page-2-dt .year-filter {
    width: 20%;
    margin: 5px 5px 5px 5px;
    background-color: #dadee7;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid #0d6abf;
}

.page-2-dt .year-filter-title {
    margin: 5px auto;
    color: #0d6abf;
    box-sizing: border-box;
}

.page-2-dt #year-dd-dt {
    display: block;
    width: 80%;
    margin: 5px auto;
    box-sizing: border-box;
    align-items: center;
}

.page-2-dt #tab1-dt, .page-2-dt #tab2-dt, .page-2-dt #tab3-dt {
    display: flex;
    width: 26%;
    color: #0d6abf;
    margin: 5px 5px 5px 5px;
    justify-content: center;
    text-decoration: none;  
    box-sizing: border-box;
}

.page-2-dt .tab-pic {
    height: 80%;
    aspect-ratio: 1;
    margin-top: 10px;
    margin-right: 10px;
}

.page-2-dt .filter-and-content-block {
    display: flex;
    flex-direction: row;
    height: 500px;
    box-sizing: border-box;
}

.page-2-dt #filter-panel {
    width: 20%;
    background-color: #ebebeb;
    margin: 0 10px 10px 10px;
    box-sizing: border-box;
    border: solid 3px #808080;
}

.page-2-dt .filter-panel-name {
    display: flex;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #808080;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.page-2-dt .level-tab {
    display: flex;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.page-2-dt #dt-filter, .page-2-dt #type-filter {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    color: white;
    background-color: #1aa3b7;
    box-sizing: border-box;
}

.page-2-dt #dt-dd, .page-2-dt #type-dd {
    color: black;
}

.page-2-dt .filter-name {
    margin: 0 auto;
    box-sizing: border-box;
}

.page-2-dt #dt-block {
    width: 40%;
    box-sizing: border-box;
}

.page-2-dt #content-name-1-dt, .page-2-dt #content-name-2-dt {
    display: flex;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #3c94c7;
}

.page-2-dt #dt-content {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    box-sizing: border-box;
    border: solid 4px #0d6abf;
}

.page-2-dt #dt-male, .page-2-dt #dt-female,  .page-2-dt #pv-male, .page-2-dt #pv-female{
    width: 50%;
    box-sizing: border-box;
}

.page-2-dt .dt-header, .page-2-dt .pv-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.page-2-dt .sex-male, .page-2-dt .sex-female {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    height: 100px;
    background-color: #f0f1f3;
    box-sizing: border-box;
}

.page-2-dt .sex-male {
    color: #1a84b8;
}

.page-2-dt .sex-female {
    color: #e025a3;
}

.page-2-dt .sex-pic{
    width: 30%;
    aspect-ratio: 1;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.page-2-dt .dt-type-name {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.page-2-dt .dt-type-name-value {
    width: 50%;
    font-size: 12px;
    text-align: center;
    background-color: #e6e6e6;
    box-sizing: border-box;
    border: solid 2px #cccccc;
}

.page-2-dt .dt-bar-chart {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.page-2-dt .bar-chart {
    width: 50%;
    height: 220px;
    box-sizing: border-box;
}

.page-2-dt .dt-value {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.page-2-dt .card-box-left {
    width: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px 0 0 5px;
    border-right: 1px;
    margin-top: 15px;
    margin-left: 5px;
    background-color: white;
    box-sizing: border-box;
    border: solid 2px #cccccc;
}

.page-2-dt .card-box-right {
    width: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
    border-left: 1px;
    margin-top: 15px;
    margin-right: 5px;
    background-color: white;
    box-sizing: border-box;
    border: solid 2px #cccccc;
}

.page-2-dt #pv-block {
    width: 40%;
    margin: 0 10px 0 10px;
    box-sizing: border-box;
}

.page-2-dt #pv-content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.page-2-dt #pv-male-dt, .page-2-dt #pv-female-dt {
    height: 50px;
    box-sizing: border-box;
    border-bottom: solid 3px#0d6abf;
}

.page-2-dt #pv-male-pv, .page-2-dt #pv-female-pv {
    height: 270px;
    box-sizing: border-box;
}

.page-2-dt #legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 5px;
    box-sizing: border-box;
}

.page-2-dt #legend-le-m, .page-2-dt #legend-hale-m,
.page-2-dt #legend-le-fm, .page-2-dt #legend-hale-fm {
    height: 10px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.page-2-dt .legend-name {
    font-size: 12px;
    font-weight: 600;
}